.bar {
  background-color: hotpink;
  color: white;
  text-align: right;
  padding: 3px;
  border: 1px solid white;
}

.bar:hover {
  background-color: chartreuse;
  color: black;
}

rect {
  fill: hotpink;
}

rect:hover {
  fill: chartreuse;
}

.line {
  fill: none;
  stroke: hotpink;
  stroke-width: 2px;
}
